<% if signed_in? %>
<script type="text/javascript" src="/assets/galaxyquest.min.js"></script>  

  <div class="row-fluid">
      <aside class="span2">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
    </aside>
    <div class="span6">
      <canvas id="galaxyquest"></canvas>
    </div>
    <div class="span4">
      <h3>Idea Feed</h3>
      <%= render 'shared/feed' %>
    </div>        
  </div>

<% else %>
  <div class="center hero-unit">
    <h1>Whoops!</h1>

    <h2>
      We're sorry for the incoveniece but you need to sign up to play the beta!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>